####################################
# 🦎 KOMODO COMPOSE - VARIABLES 🦎 #
####################################

## DB credentials - Ignored for Sqlite
### KOMODO_DB_USERNAME=
### KOMODO_DB_PASSWORD=

## Configure a secure passkey to authenticate between Core / Periphery.
KOMODO_PASSKEY=

#=------------------------------=#
#= Komodo Periphery Environment =#
#=------------------------------=#

## Periphery passkeys must include KOMODO_PASSKEY to authenticate.
PERIPHERY_PASSKEYS=${KOMODO_PASSKEY}
