TIMEZONE=

NETWORK_DOMAIN=

## Komodo
KOMODO_DB_USERNAME=
KOMODO_DB_PASSWORD=

## traefik
SECRETS_CLOUDFLARE_EMAIL=
SECRETS_CLOUDFLARE_API_KEY=
# TRAEFIK_UID=
# TRAEFIK_GID=

## authentik
PG_PASS=
AUTHENTIK_SECRET_KEY=
